Bist-Final/n8n-files-to-preview/workflow-json-files/Detailed_AI_Analysis.json
{
  "name": "Detailed_AI_Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "detailed_ai_analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -32
      ],
      "id": "3c038e77-fb80-45ac-af48-f2fdbdd99a87",
      "name": "Webhook",
      "webhookId": "d2f3b4c7-3e3f-4179-afc2-054dd22692d3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1plpigtx48qGxLblBzmqt1_2LT6tU9xk3TOm_nOFkL8k",
          "mode": "list",
          "cachedResultName": "N8N-SENTİMENT-OVERALL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plpigtx48qGxLblBzmqt1_2LT6tU9xk3TOm_nOFkL8k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1plpigtx48qGxLblBzmqt1_2LT6tU9xk3TOm_nOFkL8k/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STOCK_SYMBOL",
              "lookupValue": "={{ $json.stockSymbol }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        144
      ],
      "id": "0fe3f16a-f432-43b8-945d-37f593ef815c",
      "name": "Sentiment_Overall",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kxp32ajLdXfPub88",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1q8doVjk7WakeIxzc_xvyULBDkzH50KRe4PVToD47ObY",
          "mode": "list",
          "cachedResultName": "FORECAST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q8doVjk7WakeIxzc_xvyULBDkzH50KRe4PVToD47ObY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q8doVjk7WakeIxzc_xvyULBDkzH50KRe4PVToD47ObY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "stockSymbol",
              "lookupValue": "={{ $json.stockSymbol }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -208
      ],
      "id": "efb4f6f1-9aa6-4996-8a02-1f3c7fa9d155",
      "name": "Forecast",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kxp32ajLdXfPub88",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "stockSymbol",
              "field2": "STOCK_SYMBOL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        784,
        -48
      ],
      "id": "6224de9b-8ef0-4319-8b72-d81bc7071497",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1808,
        -48
      ],
      "id": "bcc35bea-8c75-433d-a290-1b5b06b3f053",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const stockId = $json[\"body\"][\"stockId\"];\nconst stockSymbol = stockId.replace('.IS', '');\n\nreturn [{\n  json: {\n    stockSymbol\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -32
      ],
      "id": "e4788dca-d3de-408b-833d-1721fa261782",
      "name": "Stock Name Clenaer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following stock and provide a detailed investment recommendation:\n\nSTOCK INFORMATION:\nStock Symbol: {{ $json.stockSymbol }}\nStock Name: {{ $json.STOCK_NAME }}\nCurrent Price: TRY {{ $json.currentPrice }}\n\nPRICE FORECAST ({{ $json.timeHorizon }}):\n- Predicted Price: TRY {{ $json.predictedPrice }}\n- Expected Change: {{ $json.changePercent }}%\n- Model Confidence: {{ $json.confidence }}%\n- Forecasting Model: {{ $json.model }}\n- Trend Direction: {{ $json.changePercent > 0 ? 'Upward' : 'Downward' }}\n\nNEWS SENTIMENT ANALYSIS:\n- Overall Sentiment: {{ $json.OVERALL_SENTIMENT }}\n- Average Sentiment Score: {{ $json.AVG_SENTIMENT_SCORE }}/1.00\n- Total News Articles: {{ $json.TOTAL_NEWS }}\n- Positive News: {{ $json.POSITIVE_COUNT }} articles ({{ $json.POSITIVE_PERCENT }}%)\n- Neutral News: {{ $json.NEUTRAL_COUNT }} articles ({{ $json.NEUTRAL_PERCENT }}%)\n- Negative News: {{ $json.NEGATIVE_COUNT }} articles ({{ $json.NEGATIVE_PERCENT }}%)\n- Last Sentiment Update: {{ $json.LAST_UPDATE }}\n\nRECENT NEWS HEADLINES:\n{{ $json.LATEST_3_NEWS }}\n\nTASK:\nProvide a comprehensive investment analysis in the following JSON format:\n\n{\n  \"recommendation\": \"STRONG BUY/BUY/HOLD/SELL/STRONG SELL\",\n  \"combinedConfidence\": 75,\n  \"summary\": \"2-3 paragraph detailed analysis explaining the recommendation, considering both sentiment and forecast data. Discuss market context, stock performance outlook, and key factors driving the recommendation.\",\n  \"keyPoints\": [\n    \"Specific insight about sentiment trend and what it indicates\",\n    \"Analysis of price forecast reliability and expected movement\",\n    \"Sector-specific consideration or market factor\",\n    \"Risk/opportunity balance assessment\"\n  ],\n  \"riskFactors\": [\n    \"Specific risk based on negative news or forecast uncertainty\",\n    \"Market or sector-specific risk factor\",\n    \"Volatility or timing consideration\"\n  ],\n  \"investmentStrategy\": \"Specific actionable guidance: entry points, position sizing suggestion (conservative/moderate/aggressive), suggested holding period, exit strategy, and when to reassess. Be concrete and practical.\",\n  \"timeHorizon\": \"14 days\",\n  \"confidenceReasoning\": \"Brief explanation of why the combined confidence score is what it is, considering both forecast confidence and sentiment strength.\"\n}\n\nIMPORTANT: \n- Return ONLY the JSON object, no additional text\n- Ensure all text fields are properly escaped for JSON\n- Base confidence on: (forecast confidence * 0.7) + (sentiment score * 100 * 0.3)\n- Be specific and actionable in investment strategy\n- Consider Turkish market volatility in risk assessment",
        "options": {
          "systemMessage": "You are an expert financial analyst specializing in the Turkish Stock Market (Borsa Istanbul - BIST). Your role is to provide professional, data-driven investment analysis for retail investors.\n\nANALYSIS REQUIREMENTS:\n1. Be objective and base recommendations on provided data only\n2. Consider both sentiment trends and price forecasts\n3. Acknowledge Turkish market dynamics and volatility\n4. Provide clear, actionable recommendations\n5. Identify specific risks and opportunities\n6. Use professional but accessible language\n\nRECOMMENDATION CATEGORIES:\n- STRONG BUY: Very positive sentiment (>60%) + positive forecast (>3% gain) + high confidence (>75%)\n- BUY: Positive sentiment (>50%) + positive forecast (>1% gain) + good confidence (>65%)\n- HOLD: Neutral/mixed signals or moderate confidence (<65%)\n- SELL: Negative sentiment or negative forecast with high confidence\n- STRONG SELL: Very negative sentiment (>40% negative) + negative forecast + high confidence\n\nAlways provide balanced analysis mentioning both bullish and bearish factors."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1088,
        -48
      ],
      "id": "503cf2e9-f2a1-4202-b835-2f9bafee38e4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {
          "maxTokens": 1500,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        160
      ],
      "id": "419bd853-50dd-4a71-8efa-23e96882b7e1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7sd0QJTdc4v8cjlQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').item.json.stockSymbol }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1152,
        208
      ],
      "id": "404c1583-68fd-4607-85d3-f1f2a6bfc31c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Get AI response\nlet aiResponse = $input.first().json.message || $input.first().json.output || $input.first().json.text;\n\n// Try to parse if it's a string\nif (typeof aiResponse === 'string') {\n  // Remove markdown code blocks if present\n  aiResponse = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  try {\n    aiResponse = JSON.parse(aiResponse);\n  } catch (e) {\n    console.error('Failed to parse AI response:', e);\n    // Return error structure\n    return [{\n      json: {\n        success: false,\n        error: 'Failed to parse AI response',\n        rawResponse: aiResponse\n      }\n    }];\n  }\n}\n\n// Get original merged data\nconst mergedData = $('Merge').first().json;\n\n// Combine AI analysis with original data\nreturn [{\n  json: {\n    success: true,\n    stockId: mergedData.stockSymbol + '.IS',\n    stockSymbol: mergedData.stockSymbol,\n    stockName: mergedData.STOCK_NAME,\n    currentPrice: mergedData.currentPrice,\n    currency: 'TRY',\n    \n    // AI Generated Analysis\n    recommendation: aiResponse.recommendation,\n    combinedConfidence: aiResponse.combinedConfidence,\n    \n    analysis: {\n      summary: aiResponse.summary,\n      keyPoints: aiResponse.keyPoints,\n      riskFactors: aiResponse.riskFactors,\n      investmentStrategy: aiResponse.investmentStrategy,\n      confidenceReasoning: aiResponse.confidenceReasoning\n    },\n    \n    // Include original data for reference\n    forecastData: {\n      predicted: mergedData.predictedPrice,\n      change: mergedData.changePercent,\n      confidence: mergedData.confidence,\n      timeHorizon: mergedData.timeHorizon,\n      model: mergedData.model\n    },\n    \n    sentimentData: {\n      overall: mergedData.OVERALL_SENTIMENT,\n      score: parseFloat(mergedData.AVG_SENTIMENT_SCORE),\n      positive: mergedData.POSITIVE_PERCENT,\n      neutral: mergedData.NEUTRAL_PERCENT,\n      negative: mergedData.NEGATIVE_PERCENT,\n      totalArticles: mergedData.TOTAL_NEWS,\n      positiveCount: mergedData.POSITIVE_COUNT,\n      neutralCount: mergedData.NEUTRAL_COUNT,\n      negativeCount: mergedData.NEGATIVE_COUNT,\n      latestNews: JSON.parse(mergedData.LATEST_3_NEWS)\n    },\n    \n    timestamp: new Date().toISOString(),\n    lastUpdate: mergedData.lastUpdate\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -48
      ],
      "id": "de33b821-bb76-4187-89d1-679b7aad5046",
      "name": "Parse Ai Response"
    },
    {
      "parameters": {
        "content": "## GETTING FILES FROM SHEETS AND PRAPER TO AI AGENT",
        "height": 576,
        "width": 1024
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -256
      ],
      "typeVersion": 1,
      "id": "363f4863-9b20-4ab1-887b-512978d28829",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## MAKE ANALYSIS USING FORECAST AND SENTIMENT DATA \nUSED MODEL: GPT4-TURBO",
        "height": 576,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -256
      ],
      "typeVersion": 1,
      "id": "6fcb341c-9bdf-4e63-95d4-cb31b6abe3be",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## PARSING AI RESPONSE TO PREPARE FOR FRONT-END",
        "height": 576,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -256
      ],
      "typeVersion": 1,
      "id": "35eabe73-08b4-4346-9c1a-788913e7329f",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Stock Name Clenaer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment_Overall": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Forecast": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock Name Clenaer": {
      "main": [
        [
          {
            "node": "Forecast",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sentiment_Overall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Ai Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ai Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c371d684-1f1f-4827-a23b-6ec24ea6ccb2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47d906f34b05ff7dd1fb5760e7f5b24b3db89594671a7308557736ad4fca0451"
  },
  "id": "MruQfCbBw8wBgPEc",
  "tags": []
}